:root {
  --hover-color: #fff;
  --focus-color-opacity: 0.5;
  --focus-color1: 250, 255, 0;
  --focus-color2: 250, 255, 0;
  --focus-color3: 250, 255, 0;
  --focus-color4: 250, 255, 0;
}

*,
*:before,
*:after {
  font-family: "Roboto", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: none;
}

a {
  text-decoration: none;
}

html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000000;
}

body {
  position: relative;
  width: 414px;
  height: 896px;
  overflow: hidden;
}

*::-moz-selection {
  --opacity: calc(var(--focus-color-opacity) + 0.1);
  text-shadow: 0 0 10px rgba(var(--focus-color1), var(--opacity)), 0 0 15px rgba(var(--focus-color2), var(--opacity)), 0 0 20px rgba(var(--focus-color3), var(--opacity)), 0 0 30px rgba(var(--focus-color4), var(--opacity));
}

*::selection {
  --opacity: calc(var(--focus-color-opacity) + 0.1);
  text-shadow: 0 0 10px rgba(var(--focus-color1), var(--opacity)), 0 0 15px rgba(var(--focus-color2), var(--opacity)), 0 0 20px rgba(var(--focus-color3), var(--opacity)), 0 0 30px rgba(var(--focus-color4), var(--opacity));
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2d84da), color-stop(31.04%, #56ccf2), color-stop(63.33%, #b2fefa), color-stop(82.6%, #6cdc38), to(#149202));
  background: linear-gradient(180deg, #2d84da 0%, #56ccf2 31.04%, #b2fefa 63.33%, #6cdc38 82.6%, #149202 100%);
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.info {
  --animation-duration: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 45px;
  padding-top: 150px;
  z-index: 1;
  -webkit-transform: translateY(calc(0px - (2em + 200px))) scale(0.833);
          transform: translateY(calc(0px - (2em + 200px))) scale(0.833);
  -webkit-transition: margin-top var(--animation-duration) ease-in, -webkit-transform var(--animation-duration) ease-in;
  transition: margin-top var(--animation-duration) ease-in, -webkit-transform var(--animation-duration) ease-in;
  transition: transform var(--animation-duration) ease-in, margin-top var(--animation-duration) ease-in;
  transition: transform var(--animation-duration) ease-in, margin-top var(--animation-duration) ease-in, -webkit-transform var(--animation-duration) ease-in;
}

.info.active {
  padding-top: 150px;
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.info__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
  -webkit-transition: margin-bottom var(--animation-duration) ease-in;
  transition: margin-bottom var(--animation-duration) ease-in;
}

.info__city-marker {
  width: 30px;
  height: 40px;
  margin-right: 3px;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  --animation-duration: 0.1s;
  -webkit-transition: -webkit-filter calc(var(--animation-duration) * 5) ease-in 0s;
  transition: -webkit-filter calc(var(--animation-duration) * 5) ease-in 0s;
  transition: filter calc(var(--animation-duration) * 5) ease-in 0s;
  transition: filter calc(var(--animation-duration) * 5) ease-in 0s, -webkit-filter calc(var(--animation-duration) * 5) ease-in 0s;
}

.info__city-marker:hover, .info__city-marker:focus {
  cursor: pointer;
  -webkit-animation: marker-hover calc(var(--animation-duration) * 10) linear both;
          animation: marker-hover calc(var(--animation-duration) * 10) linear both;
  --focus-color-opacity: 0.5;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(var(--focus-color1), var(--focus-color-opacity))) drop-shadow(0px 0px 10px rgba(var(--focus-color2), var(--focus-color-opacity))) drop-shadow(0px 0px 15px rgba(var(--focus-color3), var(--focus-color-opacity))) drop-shadow(0px 0px 20px rgba(var(--focus-color4), var(--focus-color-opacity)));
          filter: drop-shadow(0px 0px 5px rgba(var(--focus-color1), var(--focus-color-opacity))) drop-shadow(0px 0px 10px rgba(var(--focus-color2), var(--focus-color-opacity))) drop-shadow(0px 0px 15px rgba(var(--focus-color3), var(--focus-color-opacity))) drop-shadow(0px 0px 20px rgba(var(--focus-color4), var(--focus-color-opacity)));
  -webkit-transition: -webkit-filter calc(var(--animation-duration) * 5) linear var(--animation-duration);
  transition: -webkit-filter calc(var(--animation-duration) * 5) linear var(--animation-duration);
  transition: filter calc(var(--animation-duration) * 5) linear var(--animation-duration);
  transition: filter calc(var(--animation-duration) * 5) linear var(--animation-duration), -webkit-filter calc(var(--animation-duration) * 5) linear var(--animation-duration);
}

.info__city-marker path {
  fill: #fff;
}

.info__city-form::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background: rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(17px);
          backdrop-filter: blur(17px);
  pointer-events: none;
  opacity: 0;
  z-index: -1;
}

.info__city-form .tips {
  position: absolute;
  overflow-y: scroll;
  cursor: pointer;
  margin-top: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 358px;
  max-height: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  background: rgba(255, 255, 255, 0.01);
  border: 0px solid #ffffff;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 10px;
  margin-left: 0;
  padding: 0;
}

.info__city-form .tips-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: var(--hover-color);
  list-style-type: none;
  padding: 3.3px 8px;
  margin: 0 8px;
  border-radius: 15px;
  -webkit-transition: background 0.2s ease-in 0s;
  transition: background 0.2s ease-in 0s;
}

.info__city-form .tips-item:first-child {
  margin-top: 6px;
}

.info__city-form .tips-item:last-child {
  margin-bottom: 6px;
}

.info__city-form .tips-item:hover, .info__city-form .tips-item:focus {
  -webkit-transition: background 0s ease-in 0.2;
  transition: background 0s ease-in 0.2;
  background: rgba(255, 255, 255, 0.3);
}

.info__city-name {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1em;
  color: #fff;
  width: 325px;
  background: transparent;
  border: 0;
  caret-color: #fff;
}

.info__city-name::before {
  content: "";
  position: absolute;
  display: block;
  bottom: 0%;
  left: 0px;
  width: 100%;
  height: 5px;
  background: #fff;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
}

.info__city-name::-webkit-input-placeholder {
  color: #fff;
}

.info__city-name:-ms-input-placeholder {
  color: #fff;
}

.info__city-name::-ms-input-placeholder {
  color: #fff;
}

.info__city-name::placeholder {
  color: #fff;
}

.info__city-name:focus::-webkit-input-placeholder {
  color: transparent;
}

.info__city-name:focus:-ms-input-placeholder {
  color: transparent;
}

.info__city-name:focus::-ms-input-placeholder {
  color: transparent;
}

.info__city-name:focus::placeholder {
  color: transparent;
}

.info__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.666667em;
  text-align: center;
  color: #ffffff;
}

.info__date span:nth-child(2), .info__date span:nth-child(3) {
  margin-right: 0.245em;
}

.tips-active + .tips {
  border: 1px solid #ffffff;
  max-height: 192px;
}

.active.info__city-form::before {
  pointer-events: auto;
  opacity: 1;
}

.data {
  position: absolute;
  bottom: 35px;
  left: 50%;
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
  -webkit-transition: -webkit-transform 0.5s ease-in 0.5s;
  transition: -webkit-transform 0.5s ease-in 0.5s;
  transition: transform 0.5s ease-in 0.5s;
  transition: transform 0.5s ease-in 0.5s, -webkit-transform 0.5s ease-in 0.5s;
  width: calc(100% - 70px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.data.active {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.data__temperature {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
  margin-bottom: -1.7em;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.data__temperature .value {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  color: transparent;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  color: #fff;
}

.data__temperature .value[data-lenght="1"] {
  font-size: 135px;
  margin-left: 0.3em;
}

.data__temperature .value[data-lenght="2"] {
  font-size: 135px;
}

.data__temperature .value[data-lenght="3"] {
  font-size: 95px;
  -webkit-transform: translateY(-8%);
          transform: translateY(-8%);
}

.data__temperature .value[data-lenght="3"] ~ .degrees {
  top: -1.5em;
}

.data__temperature .value[data-lenght="4"] {
  font-size: 75px;
  -webkit-transform: translateY(-16%);
          transform: translateY(-16%);
}

.data__temperature .value[data-lenght="4"] ~ .degrees {
  top: -2em;
}

.data__temperature .degrees {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.data__temperature .degrees-item {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.75);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.data__temperature .degrees-item::after {
  content: "";
  width: 0%;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.data__temperature .degrees-item.active {
  font-size: 3em;
  color: #fff;
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
}

.data__temperature .degrees-item.active::before {
  position: absolute;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  content: "";
  top: 5px;
  left: -12px;
  font-size: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

.data__temperature .degrees-item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffffff;
  border-radius: 25px;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.data__temperature .degrees-item::before {
  content: "";
  width: 0px;
  height: 0px;
  font-size: 0px;
}

.data__temperature .degrees.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.data__temperature .degrees.active .degrees-item {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.data__forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.data__forecast .icon {
  position: relative;
  width: 70px;
  height: 70px;
}

.data__forecast .icon img {
  position: absolute;
  width: inherit;
  height: inherit;
  -webkit-animation: icon-wertical 4s ease-in infinite alternate both, icon-horizontally 3s ease-in infinite alternate both;
          animation: icon-wertical 4s ease-in infinite alternate both, icon-horizontally 3s ease-in infinite alternate both;
}

.data__forecast .weather {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}

.data__forecast .wind {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}

.data input[type="checkbox"] {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.data input[type="checkbox"]:focus-visible + .data__temperature {
  --focus-color-opacity: 0.5;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(var(--focus-color1), var(--focus-color-opacity))) drop-shadow(0px 0px 10px rgba(var(--focus-color2), var(--focus-color-opacity))) drop-shadow(0px 0px 15px rgba(var(--focus-color3), var(--focus-color-opacity))) drop-shadow(0px 0px 20px rgba(var(--focus-color4), var(--focus-color-opacity)));
          filter: drop-shadow(0px 0px 5px rgba(var(--focus-color1), var(--focus-color-opacity))) drop-shadow(0px 0px 10px rgba(var(--focus-color2), var(--focus-color-opacity))) drop-shadow(0px 0px 15px rgba(var(--focus-color3), var(--focus-color-opacity))) drop-shadow(0px 0px 20px rgba(var(--focus-color4), var(--focus-color-opacity)));
}

@-webkit-keyframes icon-wertical {
  0% {
    top: 0;
  }
  33% {
    top: 10px;
  }
  66% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

@keyframes icon-wertical {
  0% {
    top: 0;
  }
  33% {
    top: 10px;
  }
  66% {
    top: 0;
  }
  100% {
    top: -10px;
  }
}

@-webkit-keyframes icon-horizontally {
  0% {
    left: 0;
  }
  33% {
    left: 10px;
  }
  66% {
    left: 0;
  }
  100% {
    left: -10px;
  }
}

@keyframes icon-horizontally {
  0% {
    left: 0;
  }
  33% {
    left: 10px;
  }
  66% {
    left: 0;
  }
  100% {
    left: -10px;
  }
}

@-webkit-keyframes marker-hover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-14deg);
            transform: rotate(-14deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes marker-hover {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
  50% {
    -webkit-transform: rotate(-14deg);
            transform: rotate(-14deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
