:root {
	//Colors
	--white: #fff;

	//Animation
	--animation-duration-fast: 0.2s;
	--animation-duration-slowly: 0.5s;

	//Padding
	--horisontal-padding: 30px;
	--vertical-padding: 50px;

	//Font-size
	--Search: 45px;
	--Save-city: 4px;
	--First-forecast: 12px;

	//Costants
	--border-radius-strong: 15px;
	--border-radius-medium: 10px;
	--title-padding-top: 150px;
}

:root {
	//Focus and select text
	--focus-color-opacity: 0.5;
	--focus-color1: 250, 255, 0;
	--focus-color2: 250, 255, 0;
	--focus-color3: 250, 255, 0;
	--focus-color4: 250, 255, 0;
}
// hsla(360, 79%, 44%, 1)

*,
*:before,
*:after {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	// Це для кнопки яка зменшує лаги вимикаючи анімації хосаби для фону. для малих ти знову введеш !important щоб вони і на далі працювали
	// 	animation-play-state: running !important;
	// animation-play-state: paused !important;
	// transition-duration: 0s !important;
}

a {
	text-decoration: none;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000000;
}

body {
	// max-height: 100vh;
	position: relative;
	// width: 414px;
	// height: 896px;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

*::selection {
	// // --focus-color-opacity: 0.6;
	// --focus-color-opacity: calc(var(--focus-color-opacity) + 0.1);
	// text-shadow: 0 0 10px rgba(var(--focus-color1), var(--focus-color-opacity)),
	// 	0 0 15px rgba(var(--focus-color2), var(--focus-color-opacity)),
	// 	0 0 20px rgba(var(--focus-color3), var(--focus-color-opacity)),
	// 	0 0 30px rgba(var(--focus-color4), var(--focus-color-opacity));

	--opacity: calc(var(--focus-color-opacity) + 0.1);
	text-shadow: 0 0 10px rgba(var(--focus-color1), var(--opacity)), 0 0 15px rgba(var(--focus-color2), var(--opacity)),
		0 0 20px rgba(var(--focus-color3), var(--opacity)), 0 0 30px rgba(var(--focus-color4), var(--opacity));
}

// @keyframes shadow-inset-center {
// 	0% {
// 		box-shadow: inset 0px 0px 70vmin 50vmin var(--white);
// 	}
// 	20% {
// 		box-shadow: inset 0px 0px 70vmin 50vmin var(--white);
// 	}
// 	100% {
// 		box-shadow: inset 0px 0px 70vmin -50vmin var(--white);
// 	}
// }

.background {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, #2d84da 0%, #56ccf2 31.04%, #b2fefa 63.33%, #6cdc38 82.6%, #149202 100%);
	background: url(../img/BG.jpg) center no-repeat,
		linear-gradient(180deg, #2d84da 0%, #56ccf2 31.04%, #b2fefa 63.33%, #6cdc38 82.6%, #149202 100%);
	background-size: contain;
	z-index: -1;
}

.conteiner {
	height: 100%;
	overflow-y: scroll;
	main {
		position: relative;
		height: 100%;
	}
	section {
		height: 100%;
	}
}
// .first-page,
// .forecast{
// width: 100vw;
// height: 100vh;
// }

*::-webkit-scrollbar {
	width: 0px;
}

*::-webkit-scrollbar-corner {
	background: transparent;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// span,
// input {
// 	text-shadow: 0 0 10px black;
// }
