:root {
	--hover-color: #fff;

	//Focus and select text
	--focus-color-opacity: 0.5;
	--focus-color1: 250, 255, 0;
	--focus-color2: 250, 255, 0;
	--focus-color3: 250, 255, 0;
	--focus-color4: 250, 255, 0;
}

// hsla(360, 79%, 44%, 1)

*,
*:before,
*:after {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	outline: none;

	// Це для кнопки яка зменшує лаги вимикаючи анімації хосаби для фону. для малих ти знову введеш !important щоб вони і на далі працювали
	// 	animation-play-state: running !important;
	// animation-play-state: paused !important;
	// transition-duration: 0s !important;
}

a {
	text-decoration: none;
}

html {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000000;
}

body {
	// max-height: 100vh;
	// box-shadow: inset 0px 0px 70vmin 50vmin var(--hover-color);
	position: relative;
	width: 414px;
	height: 896px;
	overflow: hidden;
}

*::selection {
	// // --focus-color-opacity: 0.6;
	// --focus-color-opacity: calc(var(--focus-color-opacity) + 0.1);
	// text-shadow: 0 0 10px rgba(var(--focus-color1), var(--focus-color-opacity)),
	// 	0 0 15px rgba(var(--focus-color2), var(--focus-color-opacity)),
	// 	0 0 20px rgba(var(--focus-color3), var(--focus-color-opacity)),
	// 	0 0 30px rgba(var(--focus-color4), var(--focus-color-opacity));

	--opacity: calc(var(--focus-color-opacity) + 0.1);
	text-shadow: 0 0 10px rgba(var(--focus-color1), var(--opacity)), 0 0 15px rgba(var(--focus-color2), var(--opacity)),
		0 0 20px rgba(var(--focus-color3), var(--opacity)), 0 0 30px rgba(var(--focus-color4), var(--opacity));
}

// *::selection {
// 	// background: transparent;
// 	// 	// text-shadow: 1px 1px 0 var(--accent-color), 2px 2px 0 var(--accent-color);
// 	// 	// text-shadow: 0px 0px 7px #ffffff, 0px 0px 5px #ffffff, 0px 0px 10px #ffffff, 0px 0px 15px #ffffff,
// 	// 	// 0px 0px 30px #ffffff, 0px 0px 50px #ffffff, 0px 0px 100px #ffffff;

// 	// text-shadow: 0px -14px 8px rgba(0, 0, 0, 0.2), 0px -14px 7px rgba(0, 0, 0, 0.3), 0px -12px 6px rgba(0, 0, 0, 0.4),
// 	// 	0px -10px 5px rgba(0, 0, 0, 0.5), 0px -8px 4px rgba(0, 0, 0, 0.6), 0px -6px 3px rgba(0, 0, 0, 0.7),
// 	// 	0px -4px 2px rgba(0, 0, 0, 0.8), 0px -2px 1px rgba(0, 0, 0, 0.9), 0px -2px 1px rgba(0, 0, 0, 0.8),
// 	// 	0px -18px 9px rgba(0, 0, 0, 0.1);
// }

// @keyframes shadow-inset-center {
// 	0% {
// 		box-shadow: inset 0px 0px 70vmin 50vmin var(--hover-color);
// 	}
// 	20% {
// 		box-shadow: inset 0px 0px 70vmin 50vmin var(--hover-color);
// 	}
// 	100% {
// 		box-shadow: inset 0px 0px 70vmin -50vmin var(--hover-color);
// 	}
// }

.background {
	position: absolute;
	// z-index: -1;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(180deg, #2d84da 0%, #56ccf2 31.04%, #b2fefa 63.33%, #6cdc38 82.6%, #149202 100%);
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-corner {
	background: transparent;
}
