.settings {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;

	&__open {
		position: absolute;
		cursor: pointer;
		pointer-events: auto;
		background: none;
		border: 0;
		padding: 0;
		top: -40px;
		right: 30px;
		width: 40px;
		height: 40px;
		z-index: 1;
		opacity: 0;
		transform: rotate(90deg);
		transition: top 0.5s linear var(--animation-duration), transform 0.5s linear var(--animation-duration),
			filter 0.5s linear;
		&:focus-visible {
			animation: settings__helpers-sound calc(var(--animation-duration) * 5) linear both;
			--focus-color-opacity: 0.5;
			filter: drop-shadow(0px 0px 5px rgba(var(--focus-color1), var(--focus-color-opacity)))
				drop-shadow(0px 0px 10px rgba(var(--focus-color2), var(--focus-color-opacity)))
				drop-shadow(0px 0px 15px rgba(var(--focus-color3), var(--focus-color-opacity)))
				drop-shadow(0px 0px 20px rgba(var(--focus-color4), var(--focus-color-opacity)));
		}
		&.active {
			top: 55px;
			transform: rotate(0deg);
			opacity: 1;
		}
		svg {
			width: inherit;
			height: inherit;
			// pointer-events: none;
			// z-index: -1;
		}
		path {
			fill: white;
		}
	}

	&-conteiner {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		padding: 55px 30px;
		opacity: 0;
		pointer-events: none;
		background: rgba(255, 255, 255, 0.15);
		backdrop-filter: blur(50px);
		transition: opacity 0.5s linear;
	}
	&.active &-conteiner {
		transition: opacity 0.5s linear;
		opacity: 1;
		pointer-events: auto;
	}

	&__helpers {
		// height: 0; //Тимчасово
		display: flex;
		justify-content: space-between;
		&-item {
			width: 40px;
			height: 40px;
			position: relative;
			cursor: pointer;
			.conteiner {
				width: inherit;
				height: inherit;
			}
			svg {
				position: absolute;
				width: inherit;
				height: inherit;
				user-select: none;
				path {
					fill: white;
				}
			}
			input[type="checkbox"] {
				position: absolute;
				appearance: none;
				opacity: 0;
				width: inherit;
				height: inherit;
				// & + .conteiner svg {
				// 	opacity: 1;
				// }
				& + .conteiner svg:nth-child(2),
				&:checked + .conteiner svg:nth-child(1) {
					opacity: 1;
				}
				&:checked + .conteiner svg:nth-child(2),
				& + .conteiner svg:nth-child(1) {
					opacity: 0;
				}
			}
			input[type="checkbox"] + .conteiner,
			&.settings__out {
				transition: all 0.4s linear;
			}
			input[type="checkbox"]:focus-visible + .conteiner,
			&.settings__out:focus-visible {
				animation: settings__helpers-sound calc(var(--animation-duration) * 5) linear both;
				--focus-color-opacity: 0.5;
				filter: drop-shadow(0px 0px 5px rgba(var(--focus-color1), var(--focus-color-opacity)))
					drop-shadow(0px 0px 10px rgba(var(--focus-color2), var(--focus-color-opacity)))
					drop-shadow(0px 0px 15px rgba(var(--focus-color3), var(--focus-color-opacity)))
					drop-shadow(0px 0px 20px rgba(var(--focus-color4), var(--focus-color-opacity)));
			}

			// input[type="checkbox"]:hover + .conteiner,
			// &.settings__out:hover {
			// 	// --focus-color-opacity: 0.5;
			// 	// filter: drop-shadow(0px 0px 5px rgba(var(--focus-color1), var(--focus-color-opacity)))
			// 	// 	drop-shadow(0px 0px 10px rgba(var(--focus-color2), var(--focus-color-opacity)))
			// 	// 	drop-shadow(0px 0px 15px rgba(var(--focus-color3), var(--focus-color-opacity)))
			// 	// 	drop-shadow(0px 0px 20px rgba(var(--focus-color4), var(--focus-color-opacity)));
			// }
		}
	}

	&__out {
		appearance: none;
		position: relative;
		border: 0;
		padding: 0;
		background: transparent;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 125%;
			height: 3px;
			background: white;
			border-radius: 10px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	&__mini-conteiner {
		margin-top: auto;
	}
	// &__audio {
	// 	margin-top: auto;
	// }

	&__audio-range {
		display: inline-block;
		&:not(:first-child) {
			margin-top: 15px;
		}
		h3 {
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			color: #fff;
			margin-bottom: 15px;
		}
		&:first-child h3 {
			font-size: 36px;
		}
		input[type="range"] {
			--shodow-size: 0%;
			/*   margin: 5px 0; */
			background-color: transparent;
			-webkit-appearance: none;
			width: 354px;
			height: 40px;
			padding: 0 7.35%;
			transition: all 0.2s linear;
			cursor: pointer;

			background: rgba(255, 255, 255, 0.5);
			border-radius: 10px;
			&:focus {
				outline: none;
			}
			&::-webkit-slider-runnable-track {
				background: linear-gradient(
						90deg,
						rgba(255, 255, 255, 0) 0%,
						#787878 var(--shodow-size),
						rgba(140, 140, 140, 0) var(--shodow-size)
					),
					#ffffff;
				border: 0;
				border-radius: 25px;
				width: 85%;
				height: 5px;
			}
			&::-webkit-slider-thumb {
				margin-top: -5px;
				width: 15px;
				height: 15px;
				background: #ffffff;
				border: 0;
				border-radius: 50px;
				-webkit-appearance: none;
				transition: all 0.2s linear;
			}
			&:focus::-webkit-slider-thumb,
			&:focus-visible::-webkit-range-thumb,
			&:hover::-webkit-range-thumb {
				margin-top: -7.333px;
				width: 20px;
				height: 20px;
			}

			&::-moz-range-track {
				background: #9c9c9d;
				border: 0;
				border-radius: 25px;
				width: 100%;
				height: 5px;
			}
			&::-moz-range-thumb {
				width: 15px;
				height: 15px;
				background: #ffffff;
				border: 0;
				border-radius: 50px;
			}

			&::-ms-track {
				background: transparent;
				border-color: transparent;
				border-width: 5px 0;
				color: transparent;
				width: 85%;
				height: 5px;
			}

			&::-ms-thumb {
				width: 15px;
				height: 15px;
				background: #fff;
				border: 0;
				border-radius: 50px;
				margin-top: 0px;
			}
			&:focus-visible,
			&:hover {
				background: rgba(255, 255, 255, 0.6);
			}
		}
		&:first-child input[type="range"] {
			height: 50px;
		}
	}

	&__theme {
		// display: none;
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		.row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			&:not(:first-child) {
				margin-top: 20px;
			}
		}
	}

	&__theme-conteiner {
		position: relative;
		cursor: pointer;
		input[type="radio"],
		input[type="checkbox"],
		input[type="range"] {
			position: absolute;
			appearance: none;
			opacity: 0;
			z-index: -1;
		}
		input[type="radio"] + .settings__theme-item,
		.settings__theme-item[for="eclipse"] {
			position: relative;
			display: block;
			width: 60px;
			height: 60px;
			background-color: red;
			cursor: pointer;
			user-select: none;
			border-radius: 50%;
			filter: none;
			transition: all 0.5s linear;
		}

		input[type="radio"] + .settings__theme-item {
			transition: box-shadow 0.5s linear;
			&::after {
				animation: border-transform 6s linear infinite var(--animation-del),
					item-rotate 5s linear infinite var(--animation-del);
			}
			&::before {
				animation: border-transform 6s linear infinite var(--animation-del2),
					item-rotate 5s linear infinite reverse var(--animation-del2);
			}
			&::before,
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: inherit;
				opacity: 0;
				z-index: -1;
				transition: all 0.7s linear;
				animation-play-state: paused;
			}
		}
		input[type="radio"]:checked + .settings__theme-item {
			&::before,
			&::after {
				width: 125%;
				height: 125%;
				opacity: 0.5;

				animation-play-state: running;
			}
		}

		//
		//
		//

		// input[type="radio"]:checked + .settings__theme-item {
		// 	// box-shadow: 0px 0px 0px 5px rgb(24, 220, 31);
		// }

		/*Добав вибране і не вибране
Фокус через клавіатуру як свічіння а через мишку такийже як коли чекед*/

		// --focus-color-opacity: 0.5;
		// 		filter: drop-shadow(0px 0px 5px rgba(var(--focus-color1), var(--focus-color-opacity)))
		// 			drop-shadow(0px 0px 10px rgba(var(--focus-color2), var(--focus-color-opacity)))
		// 			drop-shadow(0px 0px 15px rgba(var(--focus-color3), var(--focus-color-opacity)))
		// 			drop-shadow(0px 0px 20px rgba(var(--focus-color4), var(--focus-color-opacity)));

		input[id="Dynamic-background"] + .settings__theme-item {
			background: linear-gradient(180deg, #2d84da 0%, #56ccf2 31.04%, #b2fefa 63.33%, #6cdc38 82.6%, #149202 100%);
		}
		input[id="Sexy-night"] + .settings__theme-item {
			background: linear-gradient(180deg, #1b2858 0%, #283691 74.27%, #002b48 86.77%, #01111c 100%);
		}
		input[id="Dark"] + .settings__theme-item {
			background: #181818;
		}
		input[id="Clear-sky"] + .settings__theme-item {
			background: linear-gradient(180deg, #2d84da 0%, #84ded9 100%),
				linear-gradient(180deg, #001a9f 0%, #00d1ff 100%);
		}
		input[id="Marta"] + .settings__theme-item {
			background: linear-gradient(180deg, #40287c 0%, #120439 100%),
				linear-gradient(180deg, #ffa4fb 0%, #da0069 43.54%, #600062 100%);
		}

		// input[type="radio"]:focus-visible + .settings__theme-item {
		// 	filter: drop-shadow(0px 0px 5px rgba(var(--focus-color1), var(--focus-color-opacity)))
		// 		drop-shadow(0px 0px 10px rgba(var(--focus-color2), var(--focus-color-opacity)))
		// 		drop-shadow(0px 0px 15px rgba(var(--focus-color3), var(--focus-color-opacity)))
		// 		drop-shadow(0px 0px 20px rgba(var(--focus-color4), var(--focus-color-opacity)));
		// }
	}

	.row.row-minestyle {
		.settings__theme-item.settings__audio-range {
			display: flex;
			width: 100%;
			height: 100%;
			margin: 0;
			input[type="range"] {
				margin: 0 auto;
				width: 200px;
				height: 50px;
				&::-webkit-slider-runnable-track {
					background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 15%, rgba(0, 0, 0, 0.85) 100%),
						#ffffff;
				}
				&::-webkit-slider-thumb {
					margin-top: -3.5px;
					width: 12px;
					height: 12px;
				}
				&:focus::-webkit-slider-thumb,
				&:focus-visible::-webkit-range-thumb,
				&:hover::-webkit-range-thumb {
					margin-top: -5px;
					width: 15px;
					height: 15px;
				}
			}
		}
		.settings__theme-item[for="eclipse"] {
			background: linear-gradient(180deg, #f4f4f4 0%, rgba(0, 0, 0, 0.75) 100%);
		}
	}
	.row.row-bg {
		.settings__theme-item[for="White-BG"] {
			background-color: white;
			box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5), inset 0px 0px 25px rgba(0, 0, 0, 0.75);
		}
		.settings__theme-item[for="Dark-BG"] {
			background-color: black;
			box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75), inset 0px 0px 20px rgba(255, 255, 255, 0.75);
		}
		input[type="radio"]:not(:checked) + .settings__theme-item[for="White-BG"] {
			box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5), inset 0px 0px 25px rgba(0, 0, 0, 0.75);
		}
		input[type="radio"]:not(:checked) + .settings__theme-item[for="Dark-BG"] {
			box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 20px rgba(255, 255, 255, 0.75);
		}

		input[type="radio"]:hover + .settings__theme-item[for="White-BG"] {
			box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5), inset 0px 0px 30px rgba(0, 0, 0, 0.75);
		}
		input[type="radio"]:hover + .settings__theme-item[for="Dark-BG"] {
			box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5), inset 0px 0px 25px rgba(255, 255, 255, 0.75);
		}
	}
	.row.row-themes {
		.settings__theme-item span {
			position: absolute;
			font-family: Roboto;
			font-style: normal;
			font-weight: 500;
			font-size: 30px;
			color: #ffffff;
			width: 5em;
			opacity: 0;
			top: 50%;
			transform: translate(0, -50%);
			filter: blur(5px);
			transition: all 0.5s linear;
			z-index: -1;
		}
		.settings__theme-conteiner:first-child span {
			text-align: left;
			left: 0;
		}
		.settings__theme-conteiner:first-child:hover span {
			left: 100%;
			opacity: 1;
			filter: blur(0);
			transform: translate(18px, -50%);
		}
		.settings__theme-conteiner:last-child span {
			text-align: right;
			right: 100%;
		}
		.settings__theme-conteiner:last-child:hover span {
			opacity: 1;
			filter: blur(0);
			transform: translate(-18px, -50%);
		}
	}

	.row:not(:nth-child(2)) {
		input[type="radio"]:not(:checked) + .settings__theme-item,
		.settings__theme-item[for="eclipse"] {
			box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5), inset 0px 0px 0px 0px rgba(255, 255, 255, 0);
		}
		input[type="radio"]:not(:checked):hover + .settings__theme-item,
		.settings__theme-item[for="eclipse"]:hover {
			box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.5), inset 0px 0px 10px 4px rgba(255, 255, 255, 0.5);
		}
		input[type="radio"]:checked:hover + .settings__theme-item {
			box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0), inset 0px 0px 10px 4px rgba(255, 255, 255, 0.5);
		}
	}
	// &__theme-item {
	// }

	.sound {
		svg:nth-child(2) {
			top: 8%;
		}
	}
	// .reading-help {
	// }

	@keyframes settings__helpers-sound {
		0% {
			transform: rotate(0deg);
		}
		25% {
			transform: rotate(15deg);
		}
		50% {
			transform: rotate(-14deg);
		}
		100% {
			transform: rotate(0deg);
		}
	}

	@keyframes border-transform {
		0%,
		100% {
			border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
		}
		14% {
			border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
		}
		28% {
			border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
		}
		42% {
			border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
		}
		56% {
			border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
		}
		70% {
			border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
		}
		84% {
			border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
		}
	}

	@keyframes item-rotate {
		0%,
		50%,
		100% {
			transform: translate(-50%, -50%) rotate(0deg);
		}
		25% {
			transform: translate(-50%, -50%) rotate(30deg);
		}
		75% {
			transform: translate(-50%, -50%) rotate(-30deg);
		}
	}
}

// body input[type="checkbox"]:checked + .settings__theme-item.check-theme {
// 	&::before {
// 		background: rgba(9, 6, 6, 0.5);
// 	}
// 	&::after {
// 		width: 25px;
// 		height: 25px;
// 		top: 50%;
// 		margin: 0 5px;
// 		left: calc(65px - 25px - 10px);
// 		transform: translateY(-50%);
// 		background: #ffffff;
// 		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
// 	}
// }

.settings__theme-item[for="Dark"] .item {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// background: red;
	border-radius: 50%;
	font-size: 5px;
	box-shadow: inset 1em -0.45em 0px 0.45em #ffffff;
	transition: all 0.5s linear;
}
.settings__theme-item[for="Dark"]:hover .item {
	font-size: 6px;
	box-shadow: inset 1em 0.45em 0px 0.45em #ffffff;
}

input[type="checkbox"] + .settings__theme-item.check-theme {
	--animation-duration: 0.2s;
	position: relative;
	display: block;
	cursor: pointer;
	opacity: 1;
	width: 65px;
	height: 33px;
	border-radius: 45px;
	background: rgba(255, 255, 255, 0.5);
	transition: all var(--animation-duration) linear;

	&::after {
		content: "";
		position: absolute;
		width: 25px;
		height: 25px;
		pointer-events: none;
		top: 50%;
		left: calc(50% - 15px);
		transform: translate(-50%, -50%);
		background: #ffffff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
		border-radius: 50%;
		transition: all var(--animation-duration) linear;
	}
}

input[type="checkbox"].active + .settings__theme-item.check-theme {
	&::after {
		left: calc(50% + 15px);
	}
}

/* BG-white-transparent   BG-dark-transparent   

BG-white   BG-dark */
body.BG-white input[type="checkbox"] + .settings__theme-item.check-theme {
	background: rgba(255, 255, 255, 0.5);
	&::after {
		background: #ffffff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}
}

body.BG-white input[type="checkbox"].active + .settings__theme-item.check-theme {
	background: rgba(255, 255, 255, 0.75);
	&::after {
		background: #ffffff;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}
}

body.BG-dark input[type="checkbox"] + .settings__theme-item.check-theme {
	background: rgba(0, 0, 0, 0.5);
	&::after {
		background: #000000;
		box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
	}
}

body.BG-dark input[type="checkbox"].active + .settings__theme-item.check-theme {
	background: rgba(0, 0, 0, 0.75);
	&::after {
		background: #000000;
		box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
	}
}
